body {
    background: #eee;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main {
    background: #fefefe;
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #ccc;
    border-bottom:  solid 1px #aaa;

    /*box-shadow: 0 0 40px 10px;*/
}

.main__header {
    max-height: 100px;
    /*border-bottom: solid 1px #999;*/
}

.main__content {
    height: 500px;
}

.header {
    padding-top: 20px;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.header__menu {
    display: block;
    margin: auto auto 0;
    text-align: center;
    padding: 0;
}

.header__menu-link {
    display: inline-block;
    cursor: pointer;
}

.header__menu-link a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #7ac;
    text-decoration: none;
    font-size: 1.8em;
    border-bottom: 2px solid #77aacc;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.header__menu-link:hover a {
    color: #c77;
    border-bottom: 2px solid #c77;
}


.header__menu-link.selected a {
    color: #c77;
    border-bottom: 3px solid #c77;
}

.sidebar {
    display: block;
    float:left;
    width: 200px;
    height: 100%;
    border-right: 1px solid #ccc;
    overflow: scroll;
}

.sidebar__item {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
    height: 50px;
    cursor: pointer;
}
.sidebar__item:hover {
    background: #f9fcfe;
}

.sidebar__item.selected {
    background: #9ce;
}

.sidebar__photo {
    display:block;
    float:left;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50%;
}

.sidebar__name {
    display: block;
    float: left;
    font-size: 13px;
    margin-left: 6px;
    padding-top: 16px;
}


.detail {
    float: left;
    /*width: 100%;*/
    padding: 20px;
    width: 559px;
    height: 460px;
}


.detail__photo {
    display: block;
    /*border-radius: 50%;*/
    /*margin-left: 20px;*/
    width: 200px;
    float: left;
}

.detail__info {
    display: block;
    float: left;
    margin: 20px;
}

.detail__name {
    font-size: 1.8em;
    font-weight: bold;
}

.detail__city {
    color: #777;
}

.detail__icon {
    margin-top: 4px;
    display: inline-block;
    text-decoration: none;
    background-color: #222;
    color: #efefef;
    border-radius: 50%;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    width: 16px;
    height: 16px;
    margin-right: 5px;

    background-size: 20px, 20px;
    background-position: 2px, 2px;
    background-repeat: no-repeat;
}

.detail__icon:hover {
    background-color: #7ac;
}

.detail__link-facebook {
    background-image: url("images/fb2.png");
}

.detail__link-vk {
    background-image: url("images/vk2.png");
    background-size: 16px, 16px;
    background-position: 4px, 4px;
}

.detail__link-github {
    background-image: url("images/gh.png");
    background-size: 16px, 16px;
    background-position: 4px, 4px;
}

.detail__link-yaru {
    background-image: url("images/ya2.png");
}

.detail__about {
    display: block;
    margin-top: 20px;
    overflow: scroll;
    border: solid 1px #ccc;
    padding-left: 10px;
    padding-right: 10px;

}

.about {
    padding: 20px;
    color: #555;
}

.lector {
    float:left;
    padding: 20px;
    width: 559px;
}

.lector__photo {
    display: block;
    float: left;
    width: 200px;
    min-height: 100px;
    margin-right: 20px;
}

.lector__name {
    font-size: 1.8em;
    font-weight: bold;
}

.lector__about {
    color: #777;
}

.lector__caption {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.lector__lectures {
    margin-top: 10px;
    border-bottom: solid 1px #ddd;
}

.lector__lecture {
    border-top: solid 1px #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lector__lecture a {
    font-size: 0.8em;
    float: right;
    margin-left: 10px;
    color: #7ac;
}

.lector__lecture a:hover {
    color: #c77;
}

